<!--Main Navigation-->
<header>
    <!-- Sidebar -->
    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white" style="width:15vw;">
      <div class="position-sticky">
        <div class="list-group list-group-flush mx-3 mt-4">
          <a href="/admin/dashboard" class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
            <i class="fa-solid fa-chart-line fa-fw me-3"></i><span>Dashboard</span>
          </a>
          <a href="/admin/user_management_load" class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
            <i class="fa-solid fa-users fa-fw me-3"></i><span>Users</span>
          </a>
          <a href="/admin/categoryManagementLoad" class="list-group-item list-group-item-action py-2 ripple"><!--  active -->
            <i class="fa-solid fa-table-cells-large fa-fw me-3"></i><span>Category</span>
          </a>
          <a href="/admin/productManagementLoad" class="list-group-item list-group-item-action py-2 ripple"><i
              class="fa-solid fa-gift fa-fw me-3"></i><span>Products</span></a>
          <a href="/admin/orderManagementLoad" class="list-group-item list-group-item-action py-2 ripple"><i 
            class="fa-solid fa-cart-arrow-down fa-fw me-3"></i><span>Orders</span></a>

          <a href="/admin/manageCouponsLoad" class="list-group-item list-group-item-action py-2 ripple"><i
             class="fa-solid fa-tag fa-fw me-3"></i><span>Coupons</span></a>  

          <a href="/admin/salesReport" class="list-group-item list-group-item-action py-2 ripple d-flex"><i
             class="fa-solid fa-arrow-trend-up fa-fw me-3"></i><span><div>Sales Report</div></span></a>  
 
          <a href="/admin/bannerList" class="list-group-item list-group-item-action py-2 ripple"><i
             class="fa-solid fa-map fa-fw me-3"></i><span>Banner</span></a>

          <a href="/admin/logout" class="list-group-item list-group-item-action py-2 ripple"><i
              class="fa-solid fa-arrow-right-from-bracket fa-fw me-3"></i><span>Log Out</span></a>

        </div>
      </div>
    </nav>
    <!-- Sidebar -->
    
  </header>
  
  <section style="margin-left: 0vw;">