<%- include('includes/head-end') %>

<center>
    <h1>
        404
    </h1>
    <h3>
       <% if(typeof message !== 'undefined'){ %>
            <%= message %>
        <% } %> 
    </h3>
</center>

<%- include('includes/tail-end') %>