<%- include('includes/head-end'); %>
<div class="d-flex justify-content-center align-items-center vh-99" style="margin-top: 20vh;">
    <div class="p-4 border rounded shadow bg-light text-center">
      <h5>Your Email is verified</h1>
      <p>
        <br>
        <a href="/login">login</a>
      </p>
    </div>
  </div>
<%- include('includes/tail-end')%>