<%- include('includes/head-end') %>

<center>
    <form action="/reset_password_post" method="post">
        <div class="card text-center" style="width: 300px;">
            <div class="card-header h5 text-white bg-dark">Password Reset</div>
            <div class="card-body px-5">
                <!-- <p class="card-text py-2">
                    Enter your new password.
                </p> -->
                <div class="form-outline password-input">
                    <input type="password" id="password" name="password" class="form-control mt-2 my-1" required/>
                    <label class="form-label" for="password">New Password</label>
                </div>

                <!-- Add the password confirmation field -->
                <div class="form-outline password-input">
                    <input type="password" id="confirm_password" name="confirm_password" class="form-control mt-2 my-1" required />
                    <label class="form-label" for="confirm_password">Confirm Password</label>
                </div>
                <!-- ------------------------------------------------------------------ -->
                <!-- <a href="#" class="btn btn-primary w-100">Reset password</a> -->
                <input type="hidden" id="userId" name="userId" value="<%= userId %>" >
                <br>

                <!-- Check if passwords match and meet minimum length using JavaScript before submission -->
                <button type="button" onclick="validatePassword()" class="btn btn-dark w-100">Reset password</button>
                <div id="passwordMismatch" style="color: brown; display: none;">
                    Passwords do not match
                </div>
                <div id="emptyPassword" style="color: brown; display: none;">Password field cannot be empty</div>
                <div id="shortPassword" style="color: brown; display: none;">Password must be at least 4 characters</div>

                <!-- <div style="color: green;">
                    <% if (typeof message!='undefined'){ %>
                        <%= message %>
                    <% } %>
                </div> -->

                <!-- <div class="d-flex justify-content-between mt-4">
                    <a class="" href="/login" style="color: black;">Login</a>
                    <a class="" href="/signup" style="color: black;">Register</a>
                </div> -->
            </div>
        </div>
    </form>
</center>

<script>
    function validatePassword() {
        console.log('hello reached password check');
        var password = document.getElementById("password").value;
        var confirm_password = document.getElementById("confirm_password").value;
        var passwordMismatch = document.getElementById("passwordMismatch");
        var emptyPassword = document.getElementById("emptyPassword");
        var shortPassword = document.getElementById("shortPassword");

        // Trim leading and trailing spaces from the password
        password = password.trim();

        if (password === "") {
            emptyPassword.style.display = "block";
            shortPassword.style.display = "none";
            return false; // Prevent form submission
        } else {
            emptyPassword.style.display = "none";
            if (password.length < 4) {
                shortPassword.style.display = "block";
                return false; // Prevent form submission
            } else {
                shortPassword.style.display = "none";
            }
        }

        if (password !== confirm_password) {
            passwordMismatch.style.display = "block";
        } else {
            passwordMismatch.style.display = "none";
            // Passwords match and meet length requirement, submit the form
            document.forms[0].submit();
        }
    }
</script>

<%- include('includes/tail-end') %>
