<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>User Profile - Mehka</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alex+Brush&family=Allura&family=Bebas+Neue&family=Mr+Dafoe&family=Pacifico&family=Satisfy&family=Zeyada&display=swap" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel='stylesheet' type='text/css' media='screen' href='/stylesheets/style.css'>
    <!-- Add your custom stylesheets or styles here -->
</head> 
<body style="margin-right: 0; padding-right: 0;">
    <!-- Include the header using an iframe -->
    <iframe src="userz" frameborder="0" scrolling="no" width="100%" height="100px"></iframe>

    <div class="container mt-4">
        <div class="row">
            <div class="col-lg-3 my-lg-0 my-md-1">
                <!-- Sidebar content for user profile goes here -->
                <!-- You can display user profile information, navigation links, etc. -->
            </div>
            <div class="col-lg-9 my-lg-0 my-1">
                <!-- Main content for user profile goes here -->
                <!-- You can display user orders, account settings, recent activity, etc. -->
            </div>
        </div>
    </div>

    <!-- Add your page-specific scripts or JavaScript libraries here -->
</body>
</html>
